* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", sans-serif;
}

body {
    background: #f3f3f3;
    color: #333;
}

/* SECTION CONTROL */
.section {
    display: none;
}

.section:target {
    display: block;
}

#login {
    display: flex;

}

#terms{
    display: none;

}

#terms:target{
    display: flex;
    align-items: center;
    gap: 10px;
}

.submitBTN{
    display: inline-block;
    vertical-align: middle;
    padding: 8px;
    background-color: gray;
    color: white;
    border: none;
    cursor: not-allowed;
}

#agree:checked~button{
    background-color: #2e7d32;
    cursor: pointer;
}

/* LOGIN CENTERED */
.login-bg {
    background: #8B0000;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.login-card {
    background: white;
    padding: 2.5rem;
    width: 420px;
    border-radius: 15px;
    text-align: center;
}

.login-icon {
    background: #8B0000;
    color: white;
    width: 60px;
    height: 60px;
    margin: auto;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.login-sub {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 1.5rem;
}

/* TOPBAR */
.topbar {
    background: #8B0000;
    color: white;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
}

.topbar a {
    color: white;
    text-decoration: none;
    margin-left: 1rem;
}

/* DASHBOARD */
.dashboard-container {
    padding: 2rem;
}

.welcome-card {
    background: white;
    padding: 1.5rem;
    border-radius: 12px;
    margin-bottom: 2rem;
}

.section-title {
    margin-bottom: 1rem;
}

.service-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 1.5rem;
}

.service-card {
    background: white;
    padding: 1.5rem;
    border-radius: 12px;
}

.icon-box {
    background: #8B0000;
    color: white;
    width: 45px;
    height: 45px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

/* ORDER PAGE */
.order-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
    padding: 2rem;
}

.card {
    background: white;
    padding: 1.5rem;
    border-radius: 12px;
}

.upload-box {
    border: 2px dashed #cc9999;
    padding: 2rem;
    text-align: center;
    border-radius: 12px;
    margin: 1rem 0;
    color: #8B0000;
}

.summary-row,
.summary-total {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
}

.summary-total {
    font-weight: bold;
    color: #8B0000;
}

/* FORM */
input, select {
    width: 100%;
    padding: 0.7rem;
    margin: 0.5rem 0 1rem 0;
    border-radius: 8px;
    border: 1px solid #ddd;
}

/* BUTTONS */
.btn-red {
    display: inline-block;
    background: #8B0000;
    color: white;
    padding: 0.7rem;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
    text-align: center;
    border: none;
    cursor: pointer;
}

.btn-red:hover {
    background: #a00000;
}

.full {
    width: 100%;
}

.btn-back {
    display: block;
    text-align: center;
    margin-top: 1rem;
    color: #8B0000;
    text-decoration: none;
}
<<<<<<< HEAD
.sticky{
    background-color: #8B0000;
    border: none;
    position: sticky;
    top: 0px;
=======

#bottom{
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
>>>>>>> ad9ff5941523dc474aef28eff17543c48debdcc2
}