#orders{
    display:none;
    background:#f3f4f6;
    height:100vh;
}

#orders:target{
    display:block;
}

.order-navbar{
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #8b1a1a;
    color: white;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.back-btn{
    text-decoration: none;
    background: none;
    border: none;
    color: white;
}

.header-text{
    display: flex;
    flex-direction: column;
}

.main-title{
    margin:0;
    font-size: 1.2rem;
    font-weight: bold;
}

.sub-title{
    margin: 0;
    font-size: 0.85rem;
    opacity: 0.8;
}

#display{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    margin: 30px 0;
}

.sample-card{
    background: white;
    padding: 20px;
    border-radius: 15px;
    width: 220 px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    transition: 0.3s;
}

.sample-card:hover{
    transform:translateY(-5px);
}

.sample-card img {
    width: 100%;
    height: 200px;
    object-fit: contain;
}

.header-content{
    width:1200px;
    margin:auto;
    display:flex;
    align-items:center;
    gap:20px;
    color:white;
}

.arrow{
    font-size:22px;
    padding: 20px;
}

.button-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: 10px 0;;
}

.proceed-button {
    display: inline-block;
    background-color: #a63131;
    color: white;
    padding: 12px 30px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease;
}

.proceed-button-1 {
    display: inline-block;
    background-color: #a63131;
    color: white;
    padding: 12px 30px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease;
}

.proceed-button:hover, .proceed-button-1:hover{
    background-color: #852626;\
    transform: translateY(-2px);
}

.proceed{
    letter-spacing: 1px;
}