*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Segoe UI, sans serif";
}

body {
    background: #f3f3f3;
    color: #333;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Navbar */
.navbar {
    background-color: #990000;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
}

/* Left section */
.nav-left {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo {
    width: 50px;
    height: 50px;
    object-fit: contain;
    border-radius: 50%; /* remove if you don't want circle */
}

.nav-right a {
    color: white;
    text-decoration: none;
    padding: 6px 12px;
    margin-left: 15px;
    border-radius: 5px;
    transition: 0.3s;
}

/* Remove underline in ALL states */
.nav-right a:hover,
.nav-right a:active,
.nav-right a:focus,
.nav-right a:visited {
    text-decoration: none;
}

/* Shadow on hover */
.nav-right a:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

/* Title text */
.title h1 {
    font-size: 20px;
    font-weight: bold;
}

.title p {
    font-size: 12px;
    color: #f0f0f0;
}

/* Right section */
.nav-right {
    display: flex;
    gap: 25px;
}

.nav-right a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
}

.nav-right a:hover {
    text-decoration: underline;
}

#terms{
    display: none;

}

#terms:target{
    display: flex;
    align-items: center;
    gap: 10px;
}

.submitBTN{
    display: inline-block;
    vertical-align: middle;
    padding: 8px;
    background-color: gray;
    color: white;
    border: none;
    cursor: not-allowed;
}

#agree:checked~button{
    background-color: #2e7d32;
    cursor: pointer;
}


/* LOGIN CENTERED */
.login-bg {
    background: #8B0000;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.login-card {
    background: white;
    padding: 2.5rem;
    width: 420px;
    border-radius: 15px;
    text-align: center;
}

.login-icon {
    background: #8B0000;
    color: white;
    width: 60px;
    height: 60px;
    margin: auto;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.login-sub {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 1.5rem;
}